div.ct-available-in-rx a{
  color: #ED7006;
  text-decoration:underline;
}

[data-swatch_style=round] div.variant-wrapper .color-swatch{
  border-radius: 0;
  padding: 40px;
}

only screen and (max-width: 768px){
  label.ct-variant__label {
    text-align: left;
    padding-left: 15px;
  }
}

.jdgm-widget.jdgm-preview-badge.jdgm-preview-badge--with-link, .product-block.ct-available-in-rx, .product-block.product-block--price {
  margin-bottom: 12px;
}